.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
*.pem
/coverage
/node_modules
index.d.ts
index.js
index.js.map
index.test.d.ts
index.test.js
index.test.js.map
npm-debug.log*
yarn-debug.log*
yarn-error.log*
